
/* NabBar */
.card {
    background-size: cover;
      background-image: url("./Assets/signinImage.jpg");  
    /* background-position: center;
    background-clip: content-box; */
    border: 0px solid white;
    height: 400px;
    width: 1400px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 10px; 
  }

 h1 {
     font-style: italic;
 }

   .navbar {
    font-size: 30px;
    font-weight:bold;
   }

   .bg-light {
    /* background-color:#80ced6!important; */
    background-color:rgb(161, 219, 219)!important;
        /* color: whitesmoke; */
        color:black
    }

    /* .nav-link {
        font-weight: bolder;
    } */

    /* .logo {
        height: 10px;
    } */

   body {
     
        background-image: url("./Assets/houseclieaning.jpg"); 
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
   }
   
   /* tasks */

   .card-body {
    background-size: cover;
    background-image: url("./Assets/signinImage.jpg");  
    background-position: center;
    background-clip: content-box; 
    border: 0px solid white;
    font-weight: bolder;
    height: 400px;
    width: 1400px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 10px; 
   }
 

   #footer {
       font-weight: bolder;
       font-size: 20px;
       position:sticky;
       left: 0;
    bottom: 0;
    width: 100%;
   }

   #area, #action, #subject, #purpose, #effort, #age, #help, #consequence, #deadline, #recurring, #status {
       width:  300px;
   }

   label {
       font-weight: bolder;
   }

   #description, #specialinstructions {
       min-width: 550px;

       /* padding-bottom: 40px;; */
   }

   .form3 {
       margin-bottom: 40px;
       
   } 